body::after {
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    z-index: -1;
    content: url("./manageUsers.jpg") url("./background.jpg");
}

.food {
    background: url("./background.jpg") !important;
    background-size: cover !important;
    background-position: center !important;
    opacity: 0.9;
    text-align: center;
    border-radius: 0.5cm !important;
}
.food:hover {
    transform: scale(1.01);
    background-size: cover;
    background-position: center;
    opacity: 0.8;
}

.user {
    background-image: url("./manageUsers.jpg") !important;
    background-size: cover !important;
    background-position: center !important;
    opacity: 0.9;
    border-radius: 0.5cm !important;
}
.user:hover {
    transform: scale(1.01);
    background-size: cover;
    background-position: center;
    opacity: 0.8;
}
.add {
    background-image: url("./addFood.jpg") !important;
    background-size: cover !important;
    background-position: 45% !important;
    opacity: 0.9;
    border-radius: 0.5cm !important;
}
.add:hover {
    transform: scale(1.01);
    background-size: cover;
    background-position: center;
    opacity: 0.8;
}
.edit {
    background-image: url("./editFood.jpg") !important;
    background-size: cover !important;
    background-position: 40% !important;
    opacity: 0.9;
    border-radius: 0.5cm !important;
}
.edit:hover {
    transform: scale(1.01);
    background-size: cover;
    background-position: center;
    opacity: 0.8;
}

.text {
    color: white;
    font-size: 50px;
    font-weight: bold;
    text-shadow: 2px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

.stats {
    background: url("./graph.jpg") !important;
    background-size: cover !important;
    background-position: center !important;
    opacity: 0.9;
    text-align: center;
    border-radius: 0.5cm !important;
}

.stats:hover {
    transform: scale(1.01);
    background-size: cover;
    background-position: center;
    opacity: 0.8;
}
