/* width */
::-webkit-scrollbar {
    width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #f56565;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #e53e3e;
}
