@font-face {
    font-family: "Chopin Script";
    src: url("./assets/ChopinScript.ttf");
}
@font-face {
    font-family: "Ananda Black";
    src: url("./assets/AnandaBlack.ttf");
}
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}
/*
.desc {
    font-family: "Ananda Black", "Apple Chancery", "cursive";
}
*/
.foodtitle {
    font-weight: bold;
    font-family: "Ananda Black", "Apple Chancery", "cursive";
    font-size: x-large;
}

.delivery {
    display: flex;
    flex-direction: row;
}
